.car {
    display: grid;
    grid-template-columns: 80px auto;
}

.driver {
    align-self: center;
    width: 70px;
    font-size: 1em;
    color: #e2e2e2;
}

.riders {
    position: relative;
    background-color: #dad0b2;
    border-radius: 0.5em;
    list-style: none;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px;
    margin-right: 24px;
    width: fit-content;
    padding-right: 80px;
    padding-left: 20px;
    justify-self: end;
}

.rider-row {
    display: flex;
    flex-direction: row-reverse;
}

.rider{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #722a2b;
    text-align: center;
    vertical-align: center;
    width: 50px;
    height: 50px;
    font-size: 1em;
    color: white;
    margin: 3px;
}

.empty-seat {
    width: 50px;
    height: 50px;
    margin: 3px;
    padding: 2px;
    font-size: 1em;
    border-radius: 5px;
    color: block;
    background-color: white;
}

.empty-seat hover {
    background-color: #bb5355;
    color: white;
}

.empty-seat:disabled {
    color: #aaa;
    border: none;
}

.wheel1, .wheel2, .wheel3, .wheel4 {
    background-color: #0a0404;
    width: 50px;
    height: 16px;
    border-radius: 6px;

    position: absolute;
}

.wheel1 {
    top: -8px;
}

.wheel2 {
    right: 60px;
    top: -8px;
}

.wheel4 {
    right: 60px;
}

.red {
    background-color: #c64348;
}
.blue {
    background-color: #4642b7;
}
.green {
    background-color: #51c158;
}
.purple {
    background-color: #9150af;
}
.orange {
    background-color: #e09c35;
}
.black {
    background-color: #202224;
}

@media only screen and (max-width: 800px) {
    .riders {
        padding: 10px;
        margin-right: 10px;
        padding-right: 30px;
        padding-left: 10px;
    }

    .driver {
        width: 30px;
    }
}
