.car {
    display: grid;
    grid-template-columns: 80px auto;
}

.driver {
    align-self: center;
    width: 70px;
    font-size: 1em;
}

/* .car li {
    margin: 2.5px;
    margin-left: 5px;
    list-style: none;
    border-radius: 5px;
} */

.riders {
    /* display: flex;
    padding: 4px;
    flex-wrap: wrap;
    align-items: flex-start; */
    background-color: #dad0b2;
    border-radius: 0.5em;
    list-style: none;
}


.rider{
    display: block;
    background-color: #722a2b;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 1em;
    color: white;
}

.empty-seat {
    display: block;
    width: 50px;
    height: 50px;
    padding: 2px;
    font-size: 1em;
    border-radius: 5px;
    color: block;
    background-color: white;
}

.empty-seat hover {
    background-color: #bb5355;
    color: white;
}
